@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing:auto;
    font-weight:400;
    font-style: normal;
  }
  /* style shared */
.faka{
  margin-top: 130px;
}


  .flex{
    display: flex;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
  font-size: 1.25rem;
  font-weight: 600;
  background-color:#FF900E ;
  color: white;
  padding: 20px 25px;
border-radius: 8px;
border: none;

}
  /* navbar style */
  .navbar{
justify-content: space-between;
align-items: center;
  }
  .item{
list-style: none;

  }
  .nav-link{
    text-decoration: none;
    margin-right: 40px;
    color: #424242;
  }
  .navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
  }
  .brand-name{
    font-size: 3rem;
  }
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-img{
  width: 100%;
}
main{
  max-width: 1440px;
  margin: 0 auto;
}

.teams {
  align-items: center;

}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.team-feature-container{
  margin-left: 130px;
  max-width: 530px;
}
.some-fact-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact{
  border: 1px solid #FF900E;
  border-radius: 8px;
  width: 240px;
  height: 240px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name{
  font-size: 1.2rem;
  font-weight: 600;
  color: #727272;
  margin-top: 10px;
  
}
.some-fact-head{
  max-width: 540px;
}
.some-fact-title{
  font-size: 2.8rem;
  font-weight: bold;
  color: black;
}
.some-fact-description{
  font-size: 2rem;
  color: #727272;
}
.sponsor-head{
  text-align: center;
  margin: 0 auto;
  max-width: 540px;
}
.sponsor-icon-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsor-icon-container img{
  filter: grayscale(100%);
}
.feature-section-title{
border-left: 5px solid #FF900E;
padding-left: 20px;

}
.feature-section{
  gap: 100px;
  margin-top: 100px;
}
.feature-card-container{
border-radius: 8px;
padding: 30px;
box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
margin-bottom: 20px;
}
.card-title{
  font-size: 1.2rem;
  font-weight: 600;
}
#experience-badge{
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -100px;
  margin-top: -100px;

}
#experience-year{
  font-size: 4rem;
  font-weight: 700;
}
.architect-conetent img{
width: 100%;
}
footer{
  max-width: 1440px;
  height: 100px;
  background-color:#FFF4E7 ;
  font-size: 1.5rem;
  color: #424242;
  margin: 0 auto;
  margin-top: 170px;
}
.footer-text{
text-align: center;
padding-top: 38px;

}
/* responsive media query */

@media screen and (max-width:576px) {
  .navbar,
  .nav-links,
  .teams,
  .feature-section
  {
    flex-direction: column;
  }
  .team-img-container,.some-fact-container{
    grid-template-columns: repeat(1, 1fr);
 

  }
  .sponsor-icon-container{
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 50px;
  }
  .some-fact-container{
    justify-items: center;
    gap: 24px;
  }
  .team-feature-container{
    margin-left: 10px;
  }
}
#experience-badge{
margin-top: 20px;
margin-left: 20px;
}
/* medium device */
@media screen and (min-width:576px) and (max-width:992px){
 
 .teams{
  flex-direction: column;
  margin: 50px auto;
 } 
 .sponsor-icon-container,
 .some-fact-container
 {
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 50px;}}